{% extends 'base.html' %}

{% block content %}
    <!-- <div class="homegrid"> -->
    <div class="row g-0">
        <div class="col-xl-8">
            <section>
                <h1>Hey, I'm Hari!</h1>

                <p>
                    Greetings and welcome to my portfolio! I am thrilled to share with you my academic and 
                    professional journey as an BE in Computer Science student, where I have gained 
                    a comprehensive understanding of various computer technologies and their applications.
                    <br><br>
                    In this portfolio, you will find projects that demonstrate my problem-solving skills and 
                    innovative approaches to solving real-world challenges. 
                    Thank you for visiting, and I hope you enjoy exploring my work!

                </p>
                <hr>

                <h1>About Me</h1>
                <p>
                    Hi, I am Hariharan Rajendran. I am highly motivated and skilled computer science bachelor's student at Anna University with a 8.0 GPA, 
                    seeking a challenging software development internship in the US. 
                </p>
                <p> 
                    With  1year  of experience at canvendor software solution , and curently freelancer at HRK info solution
                    I have developed expertise in C++ and Python, and have contributed to back-end development, 
                    file processing, and UI development. I have also implemented new features in revenue accounting areas and improved CI/CD pipelines, earning recognition for my efforts. 
                </p>
                <p>
                    In addition, I have completed several successful projects in pathfinding algorithms, Bluetooth-based home automation, and image classification using machine learning.
                    I am dedicated to continuously growing my technical and leadership skills. I am eager to bring my passion, skills, and experience to a dynamic and innovative software development team.
                </p>
            </section>
            <hr>
            <section>
                <h2>Education</h2>
                <h5>Rohini College of Engineering - KANYAKUMARI, TN</h5>
                <p style="margin: 3.5px;">BE in Computer Science (Sep 2019 - May 2023)</p>
                <p style="margin: 3.5px;">Coursework: Data Structures and Algorithms, Internet Services, Database Systems, 
                        Machine &nbsp; Learning</p>
                <br>
                
                
            </section>
            <hr>
            <section>
                <h2>Contact </h2>
                <p>
                You can contact me at 'www.hariharan1237@gmail.com' or 'harikhanthstudio@gmail.com'
                </p>
            </section>
            <br>
        </div>
        <div class="col-xl-4">
            <div class="pe-5">
                <div class="myPic card ms-xl-auto mx-auto" style="background-color: rgb(237, 244, 251); border-radius: 10px; max-width: 75%; 
                    ">
                    <h4 style="margin-bottom: 0px; padding-left: 34px; padding-top: 2px;">Me</h4>
                    <img src="../static/harih.jpg" style="
                            padding: 5px 14px 20px 14px;" >
                </div>
                <br>
                <section>
                    <div class="ms-xl-auto mx-auto" style="max-width: 75%;">
                        <button type="button" style="border: 1px solid; border-radius: 10px; margin-bottom: 10px;
                            border-color: #24292f; background-color: rgb(237, 244, 251); width: 100%;">
                            <a href="https://drive.google.com/file/d/1-fss7UCMbWsGXQHGt-giIj_NiKzy3pZ1/view?usp=drive_link" 
                                style="color: #24292f; text-decoration: none; padding-left: 30px; padding-right: 30px;
                                font-size: 25px;">
                                {% include './icons/resume.svg' %} Resume/CV
                            </a>
                        </button>
                        <br>
                        <button type="button" style="border: 1px solid; border-radius: 10px; margin-bottom: 10px;
                            border-color: #24292f; background-color: #0a66c2; width: 100%;">
                            <a href="https://www.linkedin.com/in/hariharanrr9071/" 
                                style="color: white; text-decoration: none; padding-left: 30px; padding-right: 30px;
                                font-size: 25px;">
                                {% include './icons/linkedin.svg' %} LinkedIn
                            </a>
                        </button><br>
                        <button type="button" style="border: 1px solid; border-radius: 10px; margin-bottom: 10px;
                            border-color: #24292f; background-color: whitesmoke; width: 100%;">
                            <a href="www.hariharan1237@gmail.com" 
                                style="color: #24292f; text-decoration: none; padding-left: 30px; padding-right: 30px;
                                font-size: 25px;">
                                {% include './icons/envelope.svg' %} Mail
                            </a>
                        </button>
                    </div>
                </section>
                <!--
                <div class="AddPic" style="background-color: rgb(237, 244, 251); border-radius: 10px; max-width: 75%">
                    <h4 style="margin-bottom: 0px; padding-left: 20px; padding-top: 2px;">Rutgers in Fall</h4>
                    <img src="../static/RUInFall.jpg" style="max-width: 100%; height: 300px;
                            padding: 5px 20px 20px 20px;" >
                </div>
                -->
            </div>
        </div>
    
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    

{% endblock %}