{% extends 'base.html' %}

{% block content %}
    
    <h2>My Projects:</h2>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Flight Ticket Booking</h4>
          </div>
        <div class="card-body">
            <p class="card-text">using django ,html ,css ,python.</p>
            
            <p style="color: #6d6d6d">October 2022</p>
            <p><a href="https://github.com/ganeshrohit/Path-Finder-in-a-Maz" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>

    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>My Personal Website 1</h4>
          </div>
        <div class="card-body">
            <p class="card-text"> Portfolio website running on Python(Django), HTML, CSS, and Bootstrap.</p>
            <p style="color: #6d6d6d">2024</p>
            <p><a href="https://github.com/ganeshrohit/My-Personal-Websit" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>My personal Website 2</h4>
          </div>
        <div class="card-body">
            <p class="card-text">Website running on Python(Django), HTML, CSS, and Bootstrap .</p>
            <p style="color: #6d6d6d">December 2022</p>
            <p><a href="https://github.com/harikanthR/first-project.git" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Experimental Investigation on like on unlike injector Using ML Algorithms</h4>
          </div>
        <div class="card-body">
            <p class="card-text">Developed custom Naive Bayes and Perceptron classifiers and implemented Support Vector Classification 
                using the Scikit-learn library to accurately classify handwritten digit and face images. 
                Conducted a comparative analysis of the performance on test data and achieved an accuracy of 90% for both digits and faces.</p>
            <p style="color: #6d6d6d">December 2022</p>
            <p><a href="https://github.com/ganeshrohit/Face-and-Digit-Classificatio" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>

{% endblock %}